@using WM.AspNetMvc.Models
@model IOrderedQueryable<WaterMeter>

@{
    ViewBag.Title = "Показания прибора учёта";
 }

<h2>Показания прибора учёта</h2>
<table class="table">
    <thead>
    <tr>
        <th>Дата для расчёта</th>
        <th>Холодная</th>
        <th>Горячая</th>
        <th>Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    @foreach (WaterMeter waterMeter in Model)
    {
        <tr>
            <td>@waterMeter.Period.ToString("yyyy MMMM")</td>
            <td>@waterMeter.Cold</td>
            <td>@waterMeter.Hot</td>
            <td>@waterMeter.Created.ToString("d")</td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink("Внести показания прибора учёта", "AddWaterMeter")

